<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257412051634-gnkm5n8p37jocftjutrbq2amj00qk34f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257412051634-gnkm5n8p37jocftjutrbq2amj00qk34f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257412051634-o91qeikreosdob28ugcmha7135redib1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCalJXtx8K1-nzrddVF16cI6Qyf2Dpf7YY</string>
	<key>GCM_SENDER_ID</key>
	<string>257412051634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.july.CloudJsonViewer</string>
	<key>PROJECT_ID</key>
	<string>sketchtoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sketchtoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257412051634:ios:09650307919273faeecfab</string>
	<key>DATABASE_URL</key>
	<string>https://sketchtoapp.firebaseio.com</string>
</dict>
</plist>