<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886217236574-7i222njqasg9pie9pjgg523qr5vs90h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886217236574-7i222njqasg9pie9pjgg523qr5vs90h1</string>
	<key>API_KEY</key>
	<string>AIzaSyAvaiPCOTZYxMszkl45oiUXKBB7r6dbCXs</string>
	<key>GCM_SENDER_ID</key>
	<string>886217236574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.july.CloudJsonViewer</string>
	<key>PROJECT_ID</key>
	<string>devil-app-builder2</string>
	<key>STORAGE_BUCKET</key>
	<string>devil-app-builder2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886217236574:ios:d988d3102b3d1afe3354cf</string>
</dict>
</plist>